@tailwind base;
@tailwind components;
@tailwind utilities;

.subrayado{
  position: relative;
  --tw-text-opacity: 1;
  color: rgb(148 163 184 / var(--tw-text-opacity));
}
.subrayado::before{
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
  background: rgb(52, 211, 153);
  z-index: 10;
}