@tailwind base;
@tailwind components;
@tailwind utilities;

.subrayado{
  position: relative;
 
}
.subrayado::before{
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
  background: rgb(52, 211, 153);
  z-index: 10;
}